@{
    ViewBag.Title = "Acesso restrito";
}

<div class="col-md-12">

    <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-ban"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>Negado!</b> Você não tem permissão para acessar esta página.
    </div>
</div>