
@section SEO{
    <meta name="DC.title" content="Esportes - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:title" content="Esportes - Rádio CompanyName | A Rádio de Minas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Url.Content("~/images/ico-facebook.jpg")" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <title>Esportes - Rádio CompanyName | A Rádio de Minas</title>
}

<div class="wrapper-general center blue">
    <header class="nav-intern clearfix">
        <div class="buttons">
            <a class="bt-back" href="javascript:window.history.go(-1)"> <i class="fa fa-angle-left"></i> Voltar</a>
            Texto: <button class="more bt-resize">+</button> <button class="bt-resize minus">-</button>
        </div>
        <nav class="breadcumb">
            <a href="index.html">Home</a>
            <a href="esportes.html">Esportes</a>
            <span>Cruzeiro</span>
        </nav>
    </header>
    <h1 class="title-page">
        <img src="images/clubes/cruzeiro.png" alt="Cruzeiro">
        Cruzeiro
    </h1>
    <div class="row-grid clearfix">
        <div class="grid-9 main-grid">

            <main class="featured-banner" id="destaque-banner">
                <article>
                    <a href="noticias-detalhe.html" class="title">
                        Há três meses no Cruzeiro, meia Rafinha comemora sequência na equipe titular
                    </a>
                    <figure style="background-image: url(images/conteudo/noticias/3.jpg)"></figure>
                </article>
                <article>
                    <a href="noticias-detalhe.html" class="title">
                        Há três meses no Cruzeiro, meia Rafinha comemora sequência na equipe titular
                    </a>
                    <figure style="background-image: url(images/conteudo/noticias/1.jpg)"></figure>
                </article>
            </main>
            <ul class="row-grid mb clearfix">
                <li class="grid-4">
                    <article>
                        <a href="noticias-detalhe.html">
                            <img src="http://placehold.it/260x173" class="pic-radius" alt="{{Título da Notícia}}">
                            <h4 class="tag-area">Nova Armador</h4>
                            <h3 class="title-normal">Há três meses no Cruzeiro, meia Rafinha comemora sequência na equipe titular</h3>
                        </a>
                    </article>
                </li>
                <li class="grid-4">
                    <article>
                        <a href="noticias-detalhe.html">
                            <img src="http://placehold.it/260x173" class="pic-radius" alt="{{Título da Notícia}}">
                            <h4 class="tag-area">Perto do Retorno</h4>
                            <h3 class="title-normal">Luan faz treino leve com bola e aguarda liberação do departamento médico do Atlético</h3>
                        </a>
                    </article>
                </li>
                <li class="grid-4">
                    <article>
                        <a href="noticias-detalhe.html">
                            <img src="http://placehold.it/260x173" class="pic-radius" alt="{{Título da Notícia}}">
                            <h4 class="tag-area">Goleada em Natal</h4>
                            <h3 class="title-normal">Tite admite surpresa com rendimento da Seleção Brasileira nas Eliminatórias</h3>
                        </a>
                    </article>
                </li>
            </ul>
            <a href="#">
                <img class="promotional-banner" src="images/Banner.jpg" alt="Academia da Carne - Friboi">
            </a>
            <section style="margin-top: -45px">
                <header class="filters">
                    <form class="row-grid clearfix">
                        <div class="grid-4">
                            <label for="palavrachave">Palavra Chave</label>
                            <input type="text" class="input-form" name="palavrachave" id="palavrachave">
                        </div>
                        <div class="grid-3">
                            <label for="editoria">Editoria</label>
                            <select name="editoria" class="input-form" id="editoria">
                                <option value="0">Selecione</option>
                            </select>
                        </div>
                        <div class="grid-2">
                            <label for="datainicio">De</label>
                            <input type="date" class="input-form dates" id="datainicio">
                        </div>
                        <div class="grid-2">
                            <label for="datafinal">Até</label>
                            <input type="date" class="input-form dates" id="datafinal">
                        </div>
                        <div class="grid-1">
                            <button type="submit" id="post-search" title="Buscar" class="search-filter fa fa-search"></button>
                        </div>
                    </form>
                </header>
                <ul class="news-line">
                    <li>
                        <article class="container">
                            <figure>
                                <a href="noticias-detalhe.html">
                                    <img src="http://placehold.it/260x173" class="pic-radius" alt="{{Título da Notícia}}">
                                </a>
                            </figure>
                            <div class="info">
                                <div class="clearfix header-content">
                                    <span class="info-publication">
                                        Por <strong>Agência Estado</strong>, às 24/03/2014 - 06h30
                                    </span>
                                    <div class="box-share">
                                        <span class="title">
                                            <i class="fa fa-share-alt"></i>Compartilhar
                                        </span>
                                        <nav>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>Twitter
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <a href="noticias-detalhe.html">
                                    <span class="tag-area">Goleada em Natal</span>
                                    <h3 class="title-medium">PT comemora prisão de Eduardo Cunha, mas aponta lado negativo</h3>
                                </a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="container">
                            <figure>
                                <a href="noticias-detalhe.html">
                                    <img src="http://placehold.it/260x173" class="pic-radius" alt="{{Título da Notícia}}">
                                </a>
                            </figure>
                            <div class="info">
                                <div class="clearfix header-content">
                                    <span class="info-publication">
                                        Por <strong>Agência Estado</strong>, às 24/03/2014 - 06h30
                                    </span>
                                    <div class="box-share">
                                        <span class="title">
                                            <i class="fa fa-share-alt"></i>Compartilhar
                                        </span>
                                        <nav>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>Twitter
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <a href="noticias-detalhe.html">
                                    <span class="tag-area">Goleada em Natal</span>
                                    <h3 class="title-medium">PT comemora prisão de Eduardo Cunha, mas aponta lado negativo</h3>
                                </a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="container">
                            <figure>
                                <a href="noticias-detalhe.html">
                                    <img src="http://placehold.it/260x173" class="pic-radius" alt="{{Título da Notícia}}">
                                </a>
                            </figure>
                            <div class="info">
                                <div class="clearfix header-content">
                                    <span class="info-publication">
                                        Por <strong>Agência Estado</strong>, às 24/03/2014 - 06h30
                                    </span>
                                    <div class="box-share">
                                        <span class="title">
                                            <i class="fa fa-share-alt"></i>Compartilhar
                                        </span>
                                        <nav>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>Twitter
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <a href="noticias-detalhe.html">
                                    <span class="tag-area">Goleada em Natal</span>
                                    <h3 class="title-medium">PT comemora prisão de Eduardo Cunha, mas aponta lado negativo</h3>
                                </a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="container">
                            <div class="info">
                                <div class="clearfix header-content">
                                    <span class="info-publication">
                                        Por <strong>Agência Estado</strong>, às 24/03/2014 - 06h30
                                    </span>
                                    <div class="box-share">
                                        <span class="title">
                                            <i class="fa fa-share-alt"></i>Compartilhar
                                        </span>
                                        <nav>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>Twitter
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <a href="noticias-detalhe.html">
                                    <span class="tag-area">Goleada em Natal</span>
                                    <h3 class="title-medium">PT comemora prisão de Eduardo Cunha, mas aponta lado negativo</h3>
                                </a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="container">
                            <div class="info">
                                <div class="clearfix header-content">
                                    <span class="info-publication">
                                        Por <strong>Agência Estado</strong>, às 24/03/2014 - 06h30
                                    </span>
                                    <div class="box-share">
                                        <span class="title">
                                            <i class="fa fa-share-alt"></i>Compartilhar
                                        </span>
                                        <nav>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>Twitter
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <a href="noticias-detalhe.html">
                                    <span class="tag-area">Goleada em Natal</span>
                                    <h3 class="title-medium">PT comemora prisão de Eduardo Cunha, mas aponta lado negativo</h3>
                                </a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="container">
                            <figure>
                                <a href="noticias-detalhe.html">
                                    <img src="http://placehold.it/260x173" class="pic-radius" alt="{{Título da Notícia}}">
                                </a>
                            </figure>
                            <div class="info">
                                <div class="clearfix header-content">
                                    <span class="info-publication">
                                        Por <strong>Agência Estado</strong>, às 24/03/2014 - 06h30
                                    </span>
                                    <div class="box-share">
                                        <span class="title">
                                            <i class="fa fa-share-alt"></i>Compartilhar
                                        </span>
                                        <nav>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>Twitter
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <a href="noticias-detalhe.html">
                                    <span class="tag-area">Goleada em Natal</span>
                                    <h3 class="title-medium">PT comemora prisão de Eduardo Cunha, mas aponta lado negativo</h3>
                                </a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="container">
                            <figure>
                                <a href="noticias-detalhe.html">
                                    <img src="http://placehold.it/260x173" class="pic-radius" alt="{{Título da Notícia}}">
                                </a>
                            </figure>
                            <div class="info">
                                <div class="clearfix header-content">
                                    <span class="info-publication">
                                        Por <strong>Agência Estado</strong>, às 24/03/2014 - 06h30
                                    </span>
                                    <div class="box-share">
                                        <span class="title">
                                            <i class="fa fa-share-alt"></i>Compartilhar
                                        </span>
                                        <nav>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>Twitter
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                                <a href="noticias-detalhe.html">
                                    <span class="tag-area">Goleada em Natal</span>
                                    <h3 class="title-medium">PT comemora prisão de Eduardo Cunha, mas aponta lado negativo</h3>
                                </a>
                            </div>
                        </article>
                    </li>
                </ul>
                <footer class="footer-buttons">
                    <button class="bt-red">Carregar Mais</button>
                </footer>
            </section>
        </div>
        <aside class="grid-3 sidebar" id="sidebar" role="complementary">
            <a href="#" target="_blank">
                <img class="promotion-side" src="images/Anuncio.jpg" alt="Unimed-BH. Bem cuidada para cuidar bem de você.">
            </a>
            <div class="card-players" style="margin-bottom: 30px">
                <div class="tabs" data-tab="cruzeiro" style="display: block">
                    <div class="content">
                        <h5>Próximo Jogo</h5>
                        <ul>
                            <li>
                                <img src="images/clubes/cruzeiro.png" alt="Cruzeiro" title="Cruzeiro">
                                <span>Cruzeiro</span>
                            </li>
                            <li>
                                <img src="images/clubes/botafogo.png" alt="Botafogo" title="Botafogo">
                                <span>Botafogo</span>
                            </li>
                        </ul>
                    </div>
                    <footer>
                        <h4>Campeonato Brasileiro Série A</h4>
                        <p>Sábado, 24 de Setembro às 21:00 h Mineirão</p>
                    </footer>
                </div>
                <div class="tabs" data-tab="america">
                    <div class="content">
                        <h5>Próximo Jogo</h5>
                        <ul>
                            <li>
                                <img src="images/clubes/Flamengo.png" alt="Flamengo" title="Flamengo">
                                <span>Flamengo</span>
                            </li>
                            <li>
                                <img src="images/clubes/americamineiro.png" alt="América Mineiro" title="América">
                                <span>América</span>
                            </li>
                        </ul>
                    </div>
                    <footer>
                        <h4>Campeonato Brasileiro Série A</h4>
                        <p>Sábado, 24 de Setembro às 21:00 h São Januário</p>
                    </footer>
                </div>
            </div>
            <!-- <div class="cards-side" id="artilheiros"> -->
            <!-- <h2 class="title-card">Artilharia</h2> -->
            <!-- <ul class="list-goals"> -->
            <!-- <li> -->
            <!-- <span class="number">13</span> -->
            <!-- <p class="name">Cirino</p> -->
            <!-- <strong class="club">Flamengo</strong> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <span class="number">10</span> -->
            <!-- <p class="name">R. Oliveira</p> -->
            <!-- <strong class="club">Santos</strong> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <span class="number">10</span> -->
            <!-- <p class="name">Guerreiro</p> -->
            <!-- <strong class="club">Flamengo</strong> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <span class="number">8</span> -->
            <!-- <p class="name">G. Jesus</p> -->
            <!-- <strong class="club">Palmeiras</strong> -->
            <!-- </li> -->
            <!-- <li> -->
            <!-- <span class="number">10</span> -->
            <!-- <p class="name">Guerreiro</p> -->
            <!-- <strong class="club">Flamengo</strong> -->
            <!-- </li> -->
            <!-- </ul> -->
            <!-- </div> -->
            <div class="cards-side" id="elenco">
                <h2 class="title-card">Elenco</h2>
                <nav class="nav-elenco">
                    <span id="gol" class="enable">Goleiros</span>
                    <span id="def">Defensores</span>
                    <span id="mei">Meias</span>
                    <span id="ata">Atacantes</span>
                </nav>
                <div class="list-elenco" style="display: block" data-nav="gol">
                    <h2>Goleiros</h2>
                    <ul class="list">
                        <li>Elison</li>
                        <li>Fábio</li>
                        <li>Jonathan</li>
                        <li>Lucas França</li>
                        <li>Lucão</li>
                        <li>Elison</li>
                        <li>Fábio</li>
                        <li>Jonathan</li>
                        <li>Lucas França</li>
                        <li>Lucão</li>
                    </ul>
                </div>
                <div class="list-elenco" data-nav="def">
                    <h2>Defensores</h2>
                    <ul class="list">
                        <li>Dedé</li>
                        <li>Paulão</li>
                        <li>Jonathan</li>
                        <li>Weligton Silva</li>
                        <li>Cristiano Araújo</li>
                        <li>Tatá</li>
                    </ul>
                </div>
                <div class="list-elenco" data-nav="mei">
                    <h2>Meias</h2>
                    <ul class="list">
                        <li>Guilherme</li>
                        <li>Cristiano</li>
                        <li>Ronaldo Gomes</li>
                        <li>Castoro</li>
                        <li>Espina</li>
                        <li>Sassá</li>
                    </ul>
                </div>
                <div class="list-elenco" data-nav="ata">
                    <h2>Atacantes</h2>
                    <ul class="list">
                        <li>Guilherme</li>
                        <li>Cristiano</li>
                        <li>Ronaldo Gomes</li>
                        <li>Castoro</li>
                        <li>Espina</li>
                        <li>Sassá</li>
                    </ul>
                </div>
            </div>
            <div id="informacoes" class="cards-side">
                <h2 class="title-card">Sobre o Cruzeiro</h2>
                <ul class="acordion">
                    <li>
                        <a class="title-acordion side-info" href="#informacoes">Informações Gerais <i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                        <a class="title-acordion side-info" href="#titulos">Títulos<i class="fa fa-plus"></i></a>
                    </li>
                </ul>
            </div>
            <a href="#" target="_blank">
                <img class="promotion-side" src="images/Anuncio.jpg" alt="Unimed-BH. Bem cuidada para cuidar bem de você.">
            </a>
        </aside>
    </div>
</div>
<div class="boxs-modal" id="lightbox" style="display: none">
    <div class="content">
        <h2 class="title-big" id="informacoes">Informações Gerais</h2>
        <div class="block-text">
            <p>Em 25 de março de 1908, um grupo de estudantes se reuniu no coreto do Parque Municipal, em Belo Horizonte. Esse foi o acontecimento que marcou a criação do Clube Atlético Mineiro, que romperia as fronteiras de Minas Gerais e do Brasil para se tornar um dos maiores clubes do futebol mundial. Ao longo de sua existência, o Galo se caracterizou como time do povo, o que impulsionou, de forma avassaladora, o crescimento do Clube.</p>
            <p>Como prenúncio da trajetória vitoriosa que viria a trilhar, o Atlético venceu o seu primeiro desafio. Em 21 de março de 1909, a equipe alvinegra derrotou o Sport Club Futebol por 3 a 0, na casa do adversário. O primeiro gol do Galo foi marcado por Aníbal Machado, que se tornaria um grande escritor brasileiro. O rival não se conformou com a derrota, pediu revanche e foi novamente superado, desta vez pelo placar de 2 a 0. Na terceira partida entre as equipes, o Atlético aplicou uma goleada por 4 a 0, resultado que causou a extinção do Sport.</p>
            <p><strong>Pioneirismo</strong> - Os 104 anos de história do Atlético são marcados pelo pioneirismo, dentro e fora de campo. Em 1908, foi o primeiro time mineiro a trocar as antigas bolas de meia pelas bolas de couro. Seis anos mais tarde, conquistou o primeiro torneio de futebol realizado em Minas Gerais, a Taça Bueno Brandão. Em 1915, venceu o primeiro campeonato oficial de futebol do Estado, organizado pela Liga Mineira de Esportes Terrestres, atual Federação Mineira de Futebol (FMF).</p>
            <p>Em 1929, em nova página vanguardista, o Galo disputou o primeiro jogo internacional de uma equipe mineira, vencendo o então Campeão Português Victória de Setúbal, por 3 a 1. Os gols foram marcados por Mário de Castro (2) e Said. A partida foi disputada no estádio Antônio Carlos, que havia sido inaugurado em 30 de maio daquele ano e foi um dos primeiros do Brasil a instalar refletores. O jogo de inauguração do estádio, também conhecido como Estádio de Lourdes, foi contra o Corinthians e o Galo venceu por 4 a 2, gols de Mário de Castro (3) e Said. Em 17 de agosto do ano seguinte, o estádio recebeu a visita do então presidente da Fifa, Jules Rimet, que acompanhou, pela primeira vez, um jogo noturno.</p>
            <p>Ainda em 1930, o Galo teve o primeiro jogador de fora do eixo Rio-São Paulo convocado para a Seleção Brasileira: o atacante Mário de Castro. O convite, no entanto, foi recusado pelo atleta. Na ocasião, ele alegou que não vestiria nenhuma camisa que não fosse a alvinegra, com a qual marcou 195 gols em apenas 100 jogos, provavelmente a maior média do futebol mundial.</p>
        </div>
        <h2 class="title-big" id="titulos">Títulos</h2>
        <div class="block-text">
            <p><strong>1937</strong> - Torneio Campeão dos Campeões</p>
            <p><strong>1937</strong> - Torneio Campeão dos Campeões</p>
            <p><strong>1937</strong> - Torneio Campeão dos Campeões</p>
            <p><strong>1937</strong> - Torneio Campeão dos Campeões</p>
        </div>
    </div>
</div>