<div class='center featured-img' style='background-image: url(Content/images/bg-##bgcolor##.jpg)'>
    <div class='title-flag enter-left2'><h3><strong>Placar Esportivo</strong></h3></div>
    <div class='container-result'>
        <div class='info-goal scale-up-center'>
            <img id="img-goleador" src='http://localhost:8000/Admin/Conteudo/timesPAD/##goleadorId##/##goleadorLogo##' alt='##goleadorNome##' style='width:120px'>
            <h1>É GOL!</h1>
        </div>
        <div class='player-text'>
            <div class='placar scale-up-center'>
                <img id="img-mandante" src='http://localhost:8000/Admin/Conteudo/timesPAD/##mandanteId##/##mandanteLogo##' alt='##mandanteNome##' style='width:20%'>
                <div class='result'><span>##placar##</span></div>
                <img id="img-visitante" src='http://localhost:8000/Admin/Conteudo/timesPAD/##visitanteId##/##visitanteLogo##' alt='##visitanteNome##' style='width:20%'>
            </div>
            <h2 class='title-white'><strong>##jogador##</strong></h2>
        </div>
        <footer class='footer-bottom'>
            <div class='logo'>
                <img src='Content/images/logo2.png' alt='Rádio CompanyName'>
                <img src='Content/images/eduardoDev.png' class='brand-logo' alt='eduardoDev - Internet de Resultados'>
            </div>
            <p class="txtjornada">##hashtag##</p>
            <div class='placar'>
                <img id="img-mandante-2" src='http://localhost:8000/Admin/Conteudo/timesPAD/##mandanteId##/##mandanteLogo##' alt='##mandanteNome##'>
                <div class='result'><span>##placar##</span></div>
                <img id="img-visitante-2" src='http://localhost:8000/Admin/Conteudo/timesPAD/##visitanteId##/##visitanteLogo##' alt='##visitanteNome##'>
            </div>
            <div class='time'>
                <span>##horaGol##</span>
            </div>
        </footer>
    </div>
    <div class='brand-apoio'>
        <img id="img-apoio" src='##apoioLogo##' alt='##apoioNome##'>
    </div>
</div>    