<div class='center featured-img' style='background-image: url(##foto##)'>
    <div class='title-flag'>
        <h3><strong>##nomeRede##</strong></h3>
    </div>

    <div class='container-text'>
        <div class='brands'>
            <img src='Content/images/logo2.png' class='brand-logo' alt='CompanyName Digital'>
            <img src='Content/images/eduardoDev.png' class='brand-logo' alt='eduardoDev - Internet de Resultados'>
        </div>
        <h1 class='title'>##chamada##</h1>
        <p><img src='Content/images/##tipoRede##.png' class='ico-##tipoRede##' alt='##tipoRede##'>##hashtag##</p>

    </div>
    <div class='brand-apoio'>
        <img id="img-apoio" src='##apoioLogo##' alt='##apoioNome##'>
    </div>
</div>
