@model Administrativo.ViewModel.LiveStreamViewModel

@{
    ViewBag.Title = "Cadastrar Live Stream";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Insere uma live stream no sistema";
}

<div class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Cadastrar Live Stream</h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.Partial("_Form", Model)

                <div class="box-footer">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <a href="@Url.Action("Index", "LiveStreamings")" class="btn btn-info">Voltar</a>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select").chosen({ width: "100%" });
            $('#Data').daterangepicker({
                format: 'DD/MM/YYYY',
                singleDatePicker: true
            });

        });
    </script>
}
