@model Administrativo.Models.Audios

@{
    ViewBag.Title = "Editar Audio";
    ViewBag.Icon = "fa ";
    ViewBag.SmallDescription = "Altere as informações do Audio";
}

<div class="content">
    <div class="row">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Editar Audio</h3>
            </div>
            @using (Html.BeginForm("Edit", "Audios", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="box-body">
                    @Html.HiddenFor(model => model.Id)
                    @Html.Action("Form", Model)
                </div>
                <div class="box-footer">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <a href="@Url.Action("Index", "Audios")" class="btn btn-info">Voltar</a>

                </div>
            }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $(".chosen-select").chosen({ width: "100%" });

            var editor = CKEDITOR.replace('Informacoes',
                {
                    height: "200px"
                });
            $('#Titulos').wysihtml5();
        });


    </script>
}
