@{
        Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>elFinder 2.0</title>

    <!-- jQuery and jQuery UI (REQUIRED) -->
    <script src="~/Content/ElFinder/js/jquery.min.js"></script>
        
    <!-- elFinder JS (REQUIRED) -->
    <link href="~/Content/ElFinder/css/colorbox.css" rel="stylesheet" />
    <script src="~/Content/ElFinder/js/jquery.colorbox.js"></script>
    
    <!-- elFinder initialization (REQUIRED) -->
    <script type="text/javascript" charset="utf-8">

			// Documentation for client options:
            // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options

            $(document).ready(function () {
                $(".iframe").colorbox({ iframe: true, width: "80%", height: "80%" })                
            });

            function getvalue(valor)
            {
               document.getElementById('feature_image').value = valor;
               $.colorbox.close();
            }
    </script>
</head>
<body>
    <div class="row">
        <div class="small-12 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" id="feature_image" name="feature_image" value="" />
                </div>
                <div class="small-2 columns">
                    <a class="button secondary postfix image_selector" data-upateimage="feature_image">Select Image</a>
                </div>
            </div>
            <p><a class='iframe' href="@Url.Action("Index","Elfinder")">Outside Webpage (Iframe)</a></p>
        </div>
    </div>
    


</body>
</html>
